.expense-list {
  list-style: none;
  padding: 0;
}

.expense-item {
  background: #eceaff;
  margin-bottom: 10px;
  padding: 10px 14px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
}

.expense-item:hover {
  background: #ddd9f3;
}

.category {
  font-size: 13px;
  color: #555;
  font-style: italic;
}

.price {
  font-weight: bold;
  color: #2d3436;
  margin-right: 10px;
}

.expense-item button {
  background: none;
  border: none;
  font-size: 16px;
  color: #ff7675;
  cursor: pointer;
  transition: 0.2s;
}

.expense-item button:hover {
  color: #d63031;
}

.empty {
  text-align: center;
  color: #777;
  font-style: italic;
}
