.total {
  margin-top: 25px;
  text-align: center; 
  font-size: 20px;
  font-weight: bold;
  color: #2d3436;
  background: #f3f0ff;
  padding: 15px 20px;
  border-radius: 15px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  display: inline-block; 
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.total span {
  color: #6c5ce7;
}

